body{background-color:aliceblue;}
body{background-image: -moz-element();}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    font-style: inherit;
    font-size: 16px;
    line-height: 1.6em;
    margin: auto;
}
.box-1{
    font-style: italic;
    background-color: black;
    color: aliceblue;
    border-right: 5px  red solid ;
    border-left: 5px  red solid;
    border-top: 5px  red solid;
    border-bottom: 5px  red solid;
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-right: 5px ;
    padding-left: 5px ;
}
.box-2{
    font-style: italic;
    background-color: coral;
    color: black;
}